<h1> Show</h1>

 <div class="col-lg-4 col-sm-4 col-4">
      <div class="card text-center border-danger">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#">Records</a>
            </li>
            <li class="nav-item">  
          </li>
            <li class="nav-item">
              <a class="nav-link " href="#">Disabled</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <h4 class="card-title text-center text-capitalize " ></h4>
            <span class ="badge  badge-primary">HomeTeam</span> 
             <span class ="badge badge-danger ml-5">AwayTeam</span>

               <span class ="badge badge-primary mt-3 ">
                <%=@match.home_team.team_name%></span>
               <span class ="ml-3">vs</span> 
               <span class ="badge badge-primary ml-3 mt-3">
                 <%=@match.away_team.team_name%></span>
               <hr>
               <label class ="badge badge-dark ml-auto">Event </label>
          <span class ="badge badge-primary ml-5"><%=@event.name%></span>
          <hr>
               <label class ="badge badge-dark"> MatchDate </label>
          <span class ="badge badge-primary ml-5"><%=@match.match_date%></span>
           <hr>
           
        </div>
      </div>
  </div>